
/* JAVASCRIPT */
.js body{
    display:none;
}


html{
    font-size: 10px;
    box-sizing: border-box;

}
*, *::before< *::after{
    box-sizing: border-box;
}

/* BODY */

body{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
    background-image: url('../media/images/bg-scaled.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: #003237;
    overflow: auto;
}



/* HEADER */

header{
    padding: 3rem 0;
    border-style: solid;
    border-width: 0vh 0vw 2px 0vw;
    border-color: white;
    height:
}

.title{
    position: relative;
    font-size: 3.0rem;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

.nav{
    position: relative;
    font-size: calc(1rem + 0.5vw);
    font-family: 'Lato', sans-serif;
}

a{
    font-size:1.2vw;
    flex-wrap:nowrap;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

/* MAIN */
main{
    position: relative;
    top: 8%;
    display:flex;
    flex-wrap:nowrap;
    margin:2px;
    width: 100%;
    height: 100vh;
    align-items:center;
    flex-direction: column;
}

.welcome{
    position:relative;
    margin-top: 12%;
    /* background-color: hsla(211, 77%, 75%, 0.63); */
}

.welcomeText{
    font-size: calc(1rem + 5vw);
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}
.btn{
    width: 22rem;
    height: auto;
}
.click{
    font-size: calc(1rem + 1vw);
    font-family: 'Source Sans Pro', sans-serif;
}

.text-center{
    text-align: center;
}

.mc{
    margin-inline: auto;
    width: min(90%, 145rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}
.card{
    padding: 0rem;
    width: 45%;
    height: auto;

}

.card-title{
    font-size: 2.5rem;
}
.card-text{
    font-size: 1.6rem;
}
.btn{
    font-size: 5rem;
}

.c1{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: space-around;
    align-items: baseline;

}

.c2{
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    justify-content: space-around;
    align-items: baseline;
}

.bx{
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
    font-size: 2rem;
}

@media screen and (max-width: 700px) {
    .c1, .c2{
      flex-direction: column;
      /* margin-bottom: 3rem; */
    }
    .card{
        width: 100%;
        height:50%;
    }

  }

  /* PICTURES */
#github{
    width:10vw;
    height: auto;
}
#instagram{
    width:10vw;
    height: auto;
}
#twitter{
    width:10vw;
    height: auto;
}
#youtube{
    width:10vw;
    height: auto;
}


/* FONTS */

@font-face{
    font-family: 'Andika', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Unbounded', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lato', sans-serif;
}

.f1{
    font-family: 'Andika', sans-serif;
}
.f2{
    font-family: 'Chakra Petch', sans-serif
}
.f3{
    font-family: 'Unbounded', cursive;
}
.f4{
    font-family: 'Source Sans Pro', sans-serif;
}
.f5{
    font-family: 'Lato', sans-serif;
}