html{
	margin: 0px;
	padding: 0px;
	/* overflow: hidden; */
	box-sizing: border-box;
}

*, *:before, *:after{
	box-sizing: inherit;
}

body{
	margin: 0px;

}

header{
	height: 10vw;
	width: 100%;
	background-color: blue;
}

main{
	background-color: red;
	height: 100vw;
	margin: 0 2rem 0 2rem;
}

footer{
	background-color: green;
	height: 5vw;
}

.banner{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.item{
	background-color: yellow;
}

#me{
	width: auto;
	height: auto;
	min-width: 320px;
	min-height: 240px;
	max-width: 1280px;
	max-height: 960px;
	padding: 10px;
	background-color:green;
	border: solid 5px;
	border-color: purple;
	margin-left: 6.25rem;

}

#ad{
	background-color: yellow;
	color: red;
	padding: 1rem 1rem;
	border: 5px solid purple;
	margin-left: 30rem;
	margin-top: -16rem;
}

html